/* Importando a font Poppins (Google fonts) */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,900;1,200;1,600&display=swap');

  /* ___________________________________________________________________________ */
  /* Reset (Básico) */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  html {
    /* Variáveis css */

    --corPrimaria: #017143; 

    --corSecundaria: #333;

    --corTerciaria: #fff;
  }

  /* ____________________________________________________________________________ */
  /* Main */

  main {
    position: relative;
    width: 100%;
    min-height: 100vh; /*Altura de 1 tela (view heigth)*/
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corTerciaria); /*Chamada de variável */

  }

  /* __________________________________________________________________________________ */
  /* Header */

  header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header .logo {
    position: relative;
    max-width: 80px;
  }

  header .logo:hover {
    filter: invert(0.1); /*Controla o nível de contraste*/
  }